#--- Erklärung: <user> und <password> müssen bei 1) und 2) übereinstimmen. Wenn ihr noch nie was mit docker zu tun hattet,
# vor allem auf Windows, lasst euch von ChatGPT erklären wie das Ganze funktioniert - am besten mit Docker Desktop.
# Ist ein bisschen räudig und man muss sich erst WSL installieren. Lasst euch auch erklären, wie ihr das am besten mit
# dem postgres:18 Docker-image macht (User, Passwort, Ports (muss 5432 sein), DB-Name), bei mir hat das schon von Anfang an funktioniert.
#
# Außerdem müsst ihr, damit alles funktoinert, in den Verzeichnis, in dem diese Datei hier auch liegt, eine Datei mit dem
# Namen ".docker.env" anlegen. Da müsst ihr dann die vier Variablen (<...>) von unten (DATABASE_URL bis POSTGRES_DB) mit euren
# echten Daten (User, Passwort, DB Name von oben) befüllen.
#
# Wenn alles funktioniert hat, läuft die App standardmäßig auf "http://127.0.0.1:8000/user/home" und kann mit dem Befehl
# "docker compose up -d" gestartet und mit dem Befehl "docker compose down" wieder deaktiviert werden.
# !! WICHTIG !! Ihr müsst, bevor ihr das erste mal "docker compose up -d" ausführt, einmal "docker compose down -v" ausführen.
# Das muss sein, damit der Ordner /var/lib/postgresql beim "docker compose up -d" mit den vorhandenen Daten korrekt angelegt wird.
# So in der Art hat ChatGPT es mir zumindest erklärt. ---


# 1) Datenbank
DATABASE_URL=postgresql+asyncpg://<user>:<password>@postgres:5432/<db_name>
# 2) Docker-spezifische Variablen
POSTGRES_USER=<user>
POSTGRES_PASSWORD=<password>
POSTGRES_DB=<db_name>
