# --- Datenbank ---
alembic>=1.17.1

sqlalchemy>=2.0.44
asyncpg>=0.30.0

# --- APP ---
fastapi[standard]>=0.121.1
pydantic>=2.12.4
pydantic-core>=2.41.5
pydantic-settings>=2.11.0

# --- Server ---
uvicorn[standard]>=0.38.0

# --- Misc ---
python-dotenv>=1.2.1