@use "variables" as *;
@use "mixins" as *;

.hero {
  position: absolute;
  inset: 0;
  padding: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: .9s cubic-bezier(.2,.8,.2,1);

  h1 {
    font-size: 96px;
    font-weight: 900;
    line-height: 1;
    letter-spacing: -0.05em;

    span {
      color: $accent;
    }
  }

  p {
    margin-top: 36px;
    font-size: 18px;
    color: $muted;
  }

  &-actions {
    margin-top: 64px;
    display: flex;
    gap: 20px;

    button {
      padding: 18px 40px;
      font-weight: 900;
      border-radius: $radius;
      border: none;
      cursor: pointer;
      transition: .25s ease;

      &.ghost {
        background: transparent;
        border: 1px solid $border;
        color: $text;
      }

      &:not(.ghost) {
        @include primary-btn;
      }

      &:hover {
        transform: translateY(-2px);
      }
    }
  }
}
